{% extends 'base.html.twig' %}
{% block header_img %}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                {{ form_start(form, {'action' : path('task_create')}) }}
                {{ form_widget(form) }}
                    <button type="submit" class="btn btn-success pull-right">Ajouter</button>
                {{ form_end(form) }}

                <a href="{{ path('task_list') }}" class="btn btn-primary">Retour à la liste des tâches</a>
            </div>
        </div>
    </div>
{% endblock %}
